<h3>Ofertas</h3>
        <img src="/img-cafetera-moulinex.jpg" width="20%" height="10%">
        <ol>
            <li> $6770</li>
            <li> 40% off</li>
            <li> Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet</li>
        </ol>
        <img src="/img-macbook-pro-2019.jpg" width="20%" height="10%">
        <ol>
            <li> $230000</li>
            <li> 20% off</li>
            <li> Macbook Pro 2019 Lorem ipsum, dolor sit amet</li>
        </ol>
        <img src="/img-tv-samsung-smart.jpg" width="20%" height="10%">
        <ol>
            <li> $34000</li>
            <li> 5% off</li>
            <li> SmartTV Samsung 43" Lorem ipsum, dolor sit amet</li>
        </ol>